.map-container {
  .mapboxgl-ctrl-mouse-coordinates-container {
    display: flex;
    .mapboxgl-ctrl-mouse-coordinates {
      flex-grow: 1;
      display: flex;
      padding-right: 8px;
      padding-left: 8px;
      margin-right: 8px;
    }
    .mapboxgl-ctrl-mouse-coordinates-zoom,
    .mapboxgl-ctrl-mouse-coordinates-point {
      flex-grow: 0;
      display: flex;
      padding-right: 8px;
    }
    .mapboxgl-ctrl-scale-custom {
      flex-grow: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .button-elevation {
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
      0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%) !important;
  }
}
