.map-container {
  a {
    text-decoration: none;
  }
  .mapboxgl-ctrl-logo {
    display: none !important;
    visibility: hidden;
  }
  .map-control-button,
  .button-group-container > .button-group-sheet {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  .button-group-container .map-control-button {
    box-shadow: none;
  }
  .button-group-container {
    border-radius: 50%;
  }
  .mouse-coordinates-container {
    display: flex;
    .mouse-coordinates {
      flex-grow: 1;
      display: flex;
      padding-right: 8px;
      padding-left: 8px;
      margin-right: 8px;
    }
    .zoom-coordinates {
      display: flex;
      padding-right: 8px;
      padding-left: 8px;
      margin-top: 8px;
    }
    .mouse-coordinates-zoom,
    .mouse-coordinates-point {
      flex-grow: 0;
      display: flex;
      padding-right: 8px;
    }
    .scale-custom {
      flex-grow: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .mouse-coordinates,
  .scale-custom,
  .zoom-coordinates {
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
      0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%) !important;
  }
  .mouse-coordinates-container-mobile {
    flex-direction: column-reverse;
    justify-content: right;
    align-items: flex-end;
    .mouse-coordinates {
      flex-grow: 0;
      margin-top: 8px;
      margin-right: 0;
    }
    .mouse-coordinates-point {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    .scale-custom,
    .zoom-coordinates {
      min-width: 80px;
      text-align: center;
    }
    .zoom-coordinates {
      display: flex;
      justify-content: center;
    }
  }

  .sidebar-left-show:not(.sidebar-left-close) {
    @media only screen and (min-width: 600px) and (max-width: 1264px) {
      .left-bottom-container {
        left: calc(320px + 10px);
      }

      .left-top-container {
        left: calc(320px + 10px);
      }
    }

    @media only screen and (min-width: 1264px) {
      .left-bottom-container {
        left: calc(400px + 10px);
      }

      .left-top-container {
        left: calc(400px + 10px);
      }
    }
  }
  .sidebar-right-show:not(.sidebar-left-close) {
    @media only screen and (min-width: 600px) and (max-width: 1264px) {
      .right-bottom-container {
        right: calc(320px + 10px);
      }

      .right-top-container {
        right: calc(320px + 10px);
      }
    }

    @media only screen and (min-width: 1264px) {
      .right-bottom-container {
        right: calc(400px + 10px);
      }

      .right-top-container {
        right: calc(400px + 10px);
      }
    }
  }

  .drag-container {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 800;
    width: 100%;
  }
  .main-map-container {
    pointer-events: none;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    & > div {
      position: relative;
    }
  }
  .button-container {
    clear: both;
    pointer-events: auto;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
.compare-map-container,
.map-container {
  .button-container.button-group-container:not(:first-child) {
    margin-left: 10px;
  }
  .right-bottom-container,
  .right-top-container,
  .left-bottom-container,
  .left-top-container {
    pointer-events: none;
    z-index: 2;
    position: absolute;
    & > * {
      clear: both;
    }
  }
  .right-bottom-container {
    bottom: 0;
    right: 0;
    & > * {
      margin: 0 10px 10px 0;
      float: right;
      clear: both;
    }
  }
  .left-bottom-container {
    bottom: 0;
    left: 0;
    & > * {
      margin: 0 0 10px 10px;
      float: left;
    }
  }
  .left-top-container {
    top: 0;
    left: 0;
    & > * {
      margin: 10px 0 0 10px;
      float: left;
    }
  }
  .right-top-container {
    top: 0;
    right: 0;
    & > * {
      margin: 10px 10px 0 0;
      float: right;
    }
  }
}
