@import "clickable";
@import "card";
@import "map";
.pointer {
  cursor: pointer;
}
.cursor-crosshair {
  cursor: crosshair;
}

.overflow-hidden {
  overflow: hidden;
}
.map-container {
  .mapboxgl-ctrl .mapboxgl-ctrl:first-child {
    margin: 0;
  }
  /* Map Canvas */
  .mapboxgl-canvas:hover,
  .mapboxgl-canvas:focus,
  .mapboxgl-canvas:active {
    border: none;
    outline: none;
  }
  .mapboxgl-ctrl .mapboxgl-ctrl:not(:first-child) {
    margin: 10px 0 0 0;
  }
  .draggable-container {
    .sidebar-container,
    .float-container,
    .draggable-popup-desktop,
    .draggable-bottom {
      .map-control-button {
        box-shadow: unset;
      }
    }
  }
  .map-container * {
    box-sizing: border-box;
  }
  .map-divider {
    display: block;
    flex: 1 1 0px;
    max-width: 100%;
    height: 0px;
    max-height: 0px;
    border: solid;
    border-width: thin 0 0 0;
    transition: inherit;
    border-color: #fff;
    opacity: 0.3;
  }
  .map-spacer {
    flex-grow: 1;
  }
}
